<div class="hy-comment-table-container lui-text-default">

     <table class="hy-comment-table" >
        <thead>
            <tr>
                <th class="hy-nonComment-col" ng-repeat="dimInfo in vm._dimensionsInfo track by $index"><span>{{dimInfo.qGroupFallbackTitles[0]}}</span></th>
                <th class="hy-nonComment-col" ng-repeat="measureInfo in vm._measureInfo track by $index"><span>{{measureInfo.qFallbackTitle}} </span></th>
                <th class="hy-comment-col"><span>Comments</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm._matrixData track by $index" ng-init="outerRowIndex = $index">
                <td ng-repeat="cell in row track by $index" >
                    <!-- display row and measures -->
                    <div ng-if="$index !== vm.commentColIndex" class="hy-nonComment-col">
        
                            <span>{{cell.qText}}</span>
                        
                    </div>
                    <!-- display comments -->
                    <div ng-if="$index === vm.commentColIndex" class="hy-comment-col" ng-style="{'width': vm.commentColWidth}">
                        <div class="hy-comment-display" ng-hide="vm.showEditForCell === outerRowIndex" ng-click="vm.showEditForCell = outerRowIndex; vm.textAreaComment = cell.qText" ng-style="{'width': vm.commentColWidth}">
                                <span class="hy-comment-text"> {{cell.qText}}</span>
                        
                               <span class="hy-comment-emtpy-div">.</span> 
                        
                        </div>
                        <div class="hy-comment-edit" ng-show="vm.showEditForCell === outerRowIndex">
                            <p>Edit</p>
                                <textarea class="hy-comment-textarea" ng-model="vm.textAreaComment" ng-style="{'width': vm.commentColWidth}"></textarea>
                            <br>
                            <button class="lui-button" ng-click="vm.addOrUpdateComment(row, outerRowIndex); vm.showEditForCell = -1">Create/Update</button>
                            <button class="lui-button" ng-click="vm.deleteComment(row); vm.showEditForCell = -1">Delete</button>
                            <button class="lui-button" ng-click="vm.showEditForCell = -1">close</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
     </table>

 </div>        