<div>
     <h1>heyde comment tbl</h1>
     <table>
        <thead>
            <tr >
                <th ng-repeat="dimInfo in vm._dimensionsInfo track by $index">
                    <span ng-model="dimInfo.qFallbackTitle">{{dimInfo.qFallbackTitle}} </span>
                </th>
                <span><th>Comments</th></span>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm._matrixData track by $index">
                
                <td ng-repeat="cell in row track by $index"><span>{{cell.qText}}</span></td>

                <td>
                    <button ng-click="vm.addOrUpdateComment(row, $index)">create/update comment</button>
                    <button ng-click="vm.deleteComment(row, $index)">delete comment</button>
                    
                </td>
            </tr>
            
        </tbody>
     </table>
    <textarea ng-model="vm.textAreaComment"></textarea>
    
</div>