// helper class
.hy-comment__h-empty-div {
    visibility: hidden;
}

.hy-comment__view--small {
    background:#fff;
    word-wrap: break-word;
    border-radius: 0px;
}

.hy-comment__view--small:hover {
    background: $tblHooverColor;
    color: #fff;
}

.hy-comment__view--large-preview {
    box-shadow: none;
    border: none;

    .hy-comment__close-btn--edit {
        float: right;
    }

    .hy-comment__close-btn--edit:hover {
        color:$tblHooverColor;
    }

    .hy-comment__edit-body {
        padding: 0px;
        margin: 0px;

        .hy-comment__textarea {
            height: 100px;
            resize: none;
            border-radius: 0px;
            border: none;
            :focus {
                outline: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
 
    }

    .hy-comment__edit-header {
        background: $editCommentBaseColor;
        border-radius: 0px;
    }

    .hy-comment__edit-footer {
        background: $editCommentBaseColor;
        border-radius: 0px;
    }
}

.hy-comment__close-btn-container {
    display: block;
    position: absolute;
    right: 1px;
    top: 5px;
    :hover {
        color:$tblHooverColor;
    }
 }
