// helper class
.hy-comment-emtpy-div {
    visibility: hidden;
} 

.hy-comment-display {
    background:#fff;
    word-wrap: normal;
    border-radius: 0px;
}

.hy-comment-display:hover {
    background: $tblHooverColor;
    color: #fff;
}



.hy-closeBtnContainer {
   display: block;
   position: absolute;
   right: 0px;
   top: 3px;
}

.hy-comment-edit {
    box-shadow: none;

    border: none;
    .hy-comment-editCloseBtn {
        float: right;
    }


    .hy-comment-editCommentBody {
        padding: 0px;
        margin: 0px;

        .hy-comment-textarea {
            height: 100px;
            resize: none;
            width: 100%;
            border-radius: 0px;
            border: none;
         
        }
    }

    .hy-comment-editCommentHeader {
        background: $editCommentBaseColor;
        border-radius: 0px;
    }

    .hy-comment-editCommentFooter {
        background: $editCommentBaseColor;
        border-radius: 0px;
    }
}

.hy-comment-textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



