.commentEditMode {
    background-color: #fffaf5 !important;
}

.commentEditMode:hover {
    background: $tblHooverColor !important;
    color: #fff !important;
}
 
.hy-ctable__comment-previewBorder {
   
    border: 2px solid $tblHooverColor
}