
.hy-ctable tbody td div div.hy-ctable__comment__view--small,
.hy-ctable tbody td div.hy-ctable__header__cell--regular div.hy-ctable__body__cell-text-container
{
    padding: 3px 0px 3px 3px;
}



.hy-ctable tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.hy-ctable tbody td {
    text-align: left;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid $tblBodyBorderColor;
}