// GLOBAL STYLES ===========================================================

.hy-directive-container {
    height: 100%;
    width: 100%;
}

.hy-table {
    width: 100px;
    border-collapse: collapse;
    table-layout: fixed;
}

// Table ======================================================================

.hy-table-container {
    display: block;
}

.hy-table-container--body {
    overflow: auto;
    height: 95%;
}

.hy-header-item__container,
.hy-cell,
.hy-cell__container {
    text-align: left;
}

// HEADER BLOCK =================================================================


.hy-table-container--header {
    overflow: hidden;
    height: 5%;
}

.hy-header-container {
    background: $hdrFooterColor;
    width: 100%;
}

.hy-header {
    display: inline-block;
    vertical-align: bottom;
}

.hy-header-item__container {
    text-align: left;
    position: relative;
    height: 100%;
    padding-right: 1px;
    background: $hdrFooterColor;

}

.hy-header-item__content-container {
    display: inline-block;
    height: 100%;
}

.hy-header-item__content-container--title {
    overflow: hidden; 
    height: 100%;
    white-space: nowrap;
}

.hy-header-item__content-container--resize-box {
    width: 5px;
    cursor: col-resize;
    position: absolute;
    top: 0px;
    right: 0px;
    border-right: 1px solid #fff;
    height: 100%;
}


.hy-header-item__text {
    color: $hdrFooterFontColor;
    font-weight: normal;  
}

// BODY BLOCK ===================================================================



.hy-cell {
    border-right: 1px solid black;
    border-bottom: 1px solid $tblBodyBorderColor;
    //background: #ECF0F2;
}




.hy-cell__container {
    height: 100%;
}



