// GLOBAL STYLES ===========================================================

.hy-directive-container {
    height: 99%;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    background: #fcfcfc;
    border: 1px solid black;
}


.hy-table {
    width: 100px;
    border-collapse: collapse;
    table-layout: fixed;
}



// Table ======================================================================

.hy-table-container {
    display: block;

}



.hy-header-item__container,
.hy-cell,
.hy-cell__container {
    text-align: left;
}

.hy-table-container--body {
    overflow: auto;
  //  border-left: 1px solid black;
  //  border-right: 1px solid black;
}

.hy-table-container--header {
    overflow: hidden;
    height: 21px;
  //  border-top: 1px solid black;
 //   border-left: 1px solid black;

}


// HEADER BLOCK =================================================================




.hy-header-container {
    background: $hdrFooterColor;
    width: 100%;
}

.hy-header {
    display: inline-block;
    vertical-align: bottom;
}

.hy-header-item__container {
    text-align: left;
    position: relative;
    height: 100%;
    padding-right: 1px;
    background: $hdrFooterColor;
}

.hy-header-item__content-container {
    display: inline-block;
    height: 100%;
}

.hy-header-item__content-container--title {
    overflow: hidden; 
    height: 100%;
    white-space: nowrap;
    padding-left: 3px;
}

.hy-header-item__content-container--resize-box {
    width: 5px;
    cursor: col-resize;
    position: absolute;
    top: 0px;
    right: 0px;
    border-right: 1px solid #fff;
    height: 100%;
}


.hy-header-item__text {
    color: $hdrFooterFontColor;
    font-weight: normal;  
}

// BODY BLOCK ===================================================================


.hy-table--body {
    overflow: hidden;
    padding-bottom: 10px;
}

.hy-body {
    overflow: hidden;
}





.hy-cell {
    border-right: 1px solid black;
    border-bottom: 1px solid $tblBodyBorderColor;
    background: #fff;
    overflow: hidden;
}



.hy-cell__container {
    height: 100%;
    padding-left: 3px;
}

.hy-comment {
    height: 100%;
}



