// Heyde CD Colors

$hyBlack: #000000;
$hyVioletLight:  #A791BE;
$hyViolet:  #68488F;
$hyVioletDark:  #54287F;
$hyGrey:     #58585A;
$hyRed:     #E60000;
$hyOrange:     #EB690B;
$hyGreen:     #A7C550;
$hyBlue: #009EE0;



$tblBodyBorderColor:rgb(242,242,242);


$hdrFooterColor:#58585A ;
$hdrFooterFontColor: #fff;
$hdrFooterBorderColor: #fff;
$tblHooverColor:#8B8B8D;

$editCommentBaseColor: #fef0e2;



// #F1F1F3
// #D7D7D9
// #BEBEC0
// #A5A5A
// #8B8B8D
// #727274