// Heyde CD Colors

$hyBlack: #000000;
$hyVioletLight:  #A791BE;
$hyViolet:  #A791BE;
$hyVioletDark:  #A791BE;
$hyGrey:     #58585A;
$hyRed:     #E60000;
$hyOrange:     #EB690B;
$hyGreen:     #A7C550;
$hyBlue: #009EE0;
    